@import "../../../setting.scss";

#single {
  height: 100%;
  #title {
    height: 40px;
    color: $littleTitleColor;
    font-size: $littleTitleFontSize;
    margin-left: 120px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;
    .title {
      flex: 1 1 220px;
    }
    .songer {
      flex: 1 1 75px;
    }
    .album {
      flex: 1 1 75px;
    }
    .time {
      flex: 1 1 15px;
    }
    .hot {
      flex: 1 1 40px;
    }
  }
  .singleItem {
    $singleItemHeight: 35px;
    height: $singleItemHeight;
    &:hover {
      background-color: $hoverBGColor;
    }
    .tool {
      width: 120px;
      height: $singleItemHeight;
      line-height: $singleItemHeight;
      color: $littleTitleColor;
      box-sizing: border-box;
      padding-left: 35px;
      float: left;
      .order {
        float: left;
        font-size: $littleTitleFontSize;
      }
      .favourite {
        margin-left: 18px;
        margin-right: 7px;
        float: left;
      }
    }
    .content {
      // float: left;
      height: $singleItemHeight;
      font-size: 13px;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      overflow: hidden;
      gap: 15px;

      .title,
      .songer,
      .album,
      .time,
      .hot {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .title {
        flex: 1 1 220px;
      }
      .songer {
        flex: 1 1 75px;
        color: $littleTitleColor;
      }
      .album {
        flex: 1 1 75px;
        color: $littleTitleColor;
      }
      .time {
        flex: 1 1 15px;
        color: $littleTitleColor;
      }
      .hot {
        flex: 1 1 40px;
        meter {
          width: 85px;
          position: relative;
          z-index: -1;
          &::-webkit-meter-bar {
            background: #e1e1e1;
            border: none;
          }
          &::-webkit-meter-optimum-value {
            background: #cacaca;
          }
        }
      }
    }
  }
  .bgColor {
    background-color: #fafafa;
  }
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: $primaryColor;
    :deep(.el-pager) {
      --el-pagination-hover-color: $primaryColor;
    }
    :deep(button) {
      --el-pagination-hover-color: $primaryColor;
    }
    :deep(.is-active) {
      background-color: $primaryColor;
    }
    // :deep(.number) {
    //   // background-color: #fff;
    //   border: 1px solid #ccc;
    //   &:hover {
    //     background-color: $hoverBGColor;
    //   }
    // }
  }
}
