// FooterView.vue

@use "@/style/setting.module.scss" as *;

.footer {
  width: 100%;
  height: $footerHeigth;
  border-top: 2px solid #ccc;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  min-width: 1022px;
  z-index: 100;

  .introduce {
    flex: 0 0 260px;
    width: 260px;
    min-width: 260px;
    padding-left: 13px;
    display: flex;
    overflow: hidden;

    .songImg {
      margin-right: 10px;

      .img {
        width: 45px;
        height: 45px;
        border-radius: 4px;
        overflow: hidden;

        #img {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 45px;
          height: 45px;
          object-fit: contain;
          z-index: 1;
        }
      }
    }

    .detail {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .songAndLove {
        display: flex;
        gap: 5px;

        .songname {
          max-width: 140px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .vip {
          width: 20px;
          height: 13px;
          line-height: 13px;
          font-size: 10px;
          color: #fe672e;
          border: 1px solid #fe672e;
          border-radius: 3px;
          margin-top: 4px;
        }

        .notFavourite {
          .iconItem {
            font-size: 18px;
            color: #707070;
          }
        }

        .favourite {
          .iconItem {
            color: #ec4141;
            font-size: 18px;
          }
        }
      }

      .singer {
        font-size: 13px;
        max-width: 180px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .player {
    flex: 1 1 400px;
    height: $footerHeigth;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .playerItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: $footerHeigth;

      .control {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        color: #adadad;

        .order {
          .iconItem {
            font-size: 15px;
          }
        }

        .last {
          .lastItem {
            font-size: 12px;
          }
        }

        .controlItem {
          transition: all 0.5s ease;
          .startItem,
          .pauseItem {
            font-size: 22px;
            position: relative;
            &::after {
              content: "";
              width: 35px;
              height: 35px;
              background-color: #f5f5f5;
              border-radius: 50%;
              display: inline-block;
              position: absolute;
              left: -7px;
              top: -2px;
              z-index: -1;
            }
          }
        }

        .next {
          .nextItem {
            font-size: 13px;
          }
        }
      }

      // audio 的 src 存在
      .exitAudioSrc {
        color: black;
        .iconItem {
          transition: all 0.2s ease;
          &:hover {
            color: #fe672e;
          }
        }
        .controlItem {
          &:hover {
            .startItem,
            .pauseItem {
              &::after {
                background-color: #e5e5e5;
              }
            }
          }
        }
      }

      .time {
        display: flex;
        align-items: center;
        color: #9f9f9f;
        font-size: 1px;

        .timeProgress {
          margin-left: 8px;
          margin-right: 8px;
          width: 370px;
          &:hover {
            :deep(.el-slider__runway) {
              height: 5px;
              border-radius: 10px;
            }
            :deep(.el-slider__bar) {
              height: 5px;
              border-radius: 10px;
            }
            :deep(.el-slider__button) {
              opacity: 1;
              margin-top: 0px;
              width: 9px;
              height: 9px;
              border: none;
              background-color: $primaryColor;
            }
          }
          :deep(.el-slider__runway) {
            // transition: all 0.2s ease;
            height: 2px;
          }
          :deep(.el-slider__bar) {
            // transition: all 0.2s ease;
            height: 2px;
            background-color: $primaryColor;
          }
          :deep(.el-slider__button) {
            opacity: 0;
            cursor: default;
          }
          :deep(.el-slider__button):hover {
            border: none;
            cursor: default;
          }
        }
      }
    }
  }

  .other {
    padding-right: 20px;
    flex: 0 0 260px;
    width: 260px;
    min-width: 260px;
    // height: $footerHeigth;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 14px;

    .quality {
      margin-top: 3px;

      .option {
        width: 30px;
        color: $primaryColor;
        font-size: 8px;
        font-weight: 900;
        border: 1px solid $primaryColor;
        border-radius: 3px;
        padding-left: 5px;
      }
    }

    .iconItem {
      color: #9f9f9f;
      font-size: 25px;
    }

    .volume {
      position: relative;
      &:hover {
        .volumeProgress {
          display: block;
        }
      }
      .volumeProgress {
        display: none;
        transition: all 0.5s ease;
        position: absolute;
        top: -100px;
        left: -3px;
        width: 28px;
        height: 100px;
        background-color: white;
        box-shadow: 0 0 4px 0px #aaa;
        .slider-demo-block {
          position: relative;
          left: -4px;
          top: 8px;
          :deep(.el-slider__runway) {
            width: $progressWidth;
          }
          :deep(.el-slider__bar) {
            width: $progressWidth;
            background-color: $primaryColor;
          }
          :deep(.el-slider__button) {
            margin-right: 1px;
            width: 10px;
            height: 10px;
            border: none;
            background-color: $primaryColor;
          }
          :deep(.el-slider__button):hover {
            border: none;
            cursor: auto;
          }
        }
        // .slider-demo-block .el-slider {
        //   color: red;
        //   // margin-top: 0;
        //   // margin-left: 12px;
        // }
      }
    }

    .playList {
      margin-bottom: 2px;

      .playListItem {
        font-size: 28px;
      }
    }
  }
}
