@use "@/style/setting.module.scss" as *;

.root {
  height: 445px;
  position: relative;

  .close {
    position: absolute;
    top: -50px;
    left: 295px;
    color: $littleTitleColor;
    font-size: 18px;
    &:hover {
      color: black;
    }
  }

  .scanToLogin {
    height: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    position: relative;

    .title {
      margin-top: 40px;
      font-size: 30px;
      color: black;
      font-weight: 400;
      font-weight: 400;
    }

    #QRitem {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      .qr {
        height: 220px;
        .qrImg {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          object-fit: contain;
          z-index: 1;
        }
      }
      .outTime {
        position: absolute;
        top: 102px;
        left: 58px;
        width: 185px;
        height: 185px;
        background-color: rgba($color: black, $alpha: 0.7);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        .outTimeTitle {
          color: white;
          font-size: 14px;
        }
        .outTimeButton {
          width: 80px;
          height: 30px;
          text-align: center;
          line-height: 30px;
          border-radius: 4px;
          background-color: #0c73c2;
          color: white;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .introduce {
        margin-top: -20px;
        a {
          color: #0c73c2;
          text-decoration: none;
        }
      }
      .other {
        margin-top: 80px;
        font-size: 10px;
        &:hover {
          cursor: pointer;
        }
      }
    }

    .confirmInPhone {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      .iconItem {
        color: #f29c9f;
      }
      .phone {
        font-size: 130px;
      }
      .right {
        font-size: 40px;
        position: absolute;
        top: 55px;
        left: 51px;
      }
      .confirmDesc {
        text-align: center;
      }
      .confirmTip {
        height: 100px;
        line-height: 100px;
        font-size: 16px;
        color: black;
      }
    }
  }

  .otherToLogin,
  .register,
  .registerCaptcha {
    height: 440px;
    position: relative;
    .scan {
      width: 100%;
      position: absolute;
      top: -52px;
      left: -22px;
      .scanImg {
        height: 40px;
        width: 40px;
        &:hover {
          cursor: pointer;
        }
        .outer {
          width: 40px;
          height: 40px;
          background: url("../../assets//image//QRcode.png") no-repeat;
          background-size: contain;
          .inner {
            width: 40px;
            height: 40px;
            background: linear-gradient(
              -45deg,
              white 50%,
              #ccc 50%,
              transparent 56%
            );
          }
        }
      }
      .tip {
        color: white;
        font-size: 10px;
        padding: 5px 15px;
        $bgColor: #999999;
        background-color: $bgColor;
        position: absolute;
        top: 6px;
        left: 55px;
        border-radius: 2px;
        &::after {
          content: "";
          //   width: 14px;
          //   height: 14px;
          // background-color: red;
          $borderWidth: 4px;
          border-top: $borderWidth solid $bgColor;
          border-left: $borderWidth solid transparent;
          border-right: $borderWidth solid $bgColor;
          border-bottom: $borderWidth solid transparent;
          display: block;
          position: absolute;
          top: 0px;
          left: -7px;
        }
      }
    }
    .logo {
      text-align: center;
    }
    .inputInfo {
      width: 250px;
      height: 80px;
      border: 1px solid #d9d9d9;
      margin: 44px auto 0;
      border-radius: 4px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      $inputHeight: 40px;
      position: relative;
      .code {
        width: 100%;
        height: $inputHeight;
        position: relative;
        display: flex;
        justify-content: center;
        .phoneIcon {
          position: absolute;
          top: 8px;
          left: 10px;
          color: #999999;
          z-index: 1;
          font-size: 17px;
        }
        .select {
          width: 100px;
          padding-left: 30px;
          font-size: 12px;
          border: none;
          outline: none;
          border-right: 1px solid #d9d9d9;
        }
        .inputPhone {
          width: 150px;
          padding-left: 10px;
          border: none;
          outline: none;
          font-size: 12px;
          // border-bottom: 1px solid #d9d9d9;
        }
      }
      hr {
        width: 100%;
        color: #d9d9d9;
        border: none;
        border-bottom: 1px solid #d9d9d9;
      }
      .passwordIcon {
        position: absolute;
        left: 10px;
        top: 50px;
      }
      .password {
        width: 220px;
        height: $inputHeight;
        border: none;
        outline: none;
        padding-left: 30px;
        font-size: 12px;
      }
      .captchaToLoginInput {
        width: 110px;
        padding-right: 110px;
      }
      .getCaptchaToLogin {
        position: absolute;
        top: 52px;
        left: 152px;
        font-size: 10px;
        padding-left: 12px;
        border-left: 2px solid #d9d9d9;
        &:hover {
          cursor: pointer;
        }
      }
    }

    .showWarningAndTool {
      width: 250px;
      height: 70px;
      overflow: hidden;
      margin: auto;
      .warning {
        height: 25px;
        line-height: 40px;
        font-size: 10px;
        color: red;
      }
      .tool {
        display: flex;
        gap: 10px;
        font-size: 10px;
        line-height: 40px;
        .autoLogin {
          margin-right: 40px;
          display: flex;
          gap: 5px;
        }
        .forgetPassword,
        .captchaToLogin,
        .passwordToLogin {
          color: #0c88d3;
          &:hover {
            cursor: pointer;
          }
        }
        .passwordToLogin {
          margin-left: 83px;
        }
        .gap {
          color: #dddfe6;
        }
      }
    }

    .loginAndRegister {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      // margin-top: 30px;
      // gap: 10px;
      #login {
        width: 250px;
        height: 40px;
        &:hover {
          cursor: pointer;
        }
      }
      #register {
        width: 250px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        text-decoration: underline;
        &:hover {
          cursor: pointer;
        }
      }
      .quickToLogin {
        width: 250px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 36px;
        div {
          &:hover {
            cursor: pointer;
          }
        }
      }
      .agree {
        display: flex;
        align-items: center;
        font-size: 10px;
        height: 20px;
        line-height: 20px;
        input {
          margin-right: 3px;
        }
        .docs {
          color: #0c73c2;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .notAgreeDocsTip {
        position: absolute;
        width: 256px;
        height: 70px;
        text-align: center;
        border-radius: 10px;
        background-color: rgba($color: black, $alpha: 0.7);
        top: -80px;
        left: 22px;
        .tip {
          padding-top: 15px;
          color: white;
          font-weight: 400;
        }
      }
    }
  }

  .register {
    // 返回登录按钮
    .backToLogin {
      position: absolute;
      top: -42px;
      left: -12px;
      font-size: 10px;
      &:hover {
        cursor: pointer;
      }
    }
    .tip {
      width: 250px;
      height: 30px;
      line-height: 30px;
      color: $littleTitleColor;
      font-size: 10px;
      margin: 0 auto 12px;
    }
    .warning {
      color: red;
    }

    .registerStyle {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      #registerButton {
        width: 250px;
        height: 40px;
        margin: auto;
        &:hover {
          cursor: pointer;
        }
      }

      .divide {
        width: 250px;
        height: 10px;
        margin-top: 60px;
        margin-bottom: 5px;
        :deep(.el-divider__text) {
          color: #666666;
          font-size: 10px;
        }
      }

      .quickToLogin {
        display: flex;
        gap: 36px;
        .iconItem {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 4px;
          .name {
            font-size: 10px;
            color: $littleTitleColor;
          }
        }
      }
    }
  }

  .registerCaptcha {
    .backToLogin {
      position: absolute;
      top: -42px;
      left: -12px;
      font-size: 10px;
      &:hover {
        cursor: pointer;
      }
    }

    .tip {
      font-size: 12px;
      font-weight: 500;
    }
    .captchaInput {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
      .textAndTime {
        $captchaHeight: 38px;
        display: flex;
        width: 250px;
        height: $captchaHeight;
        gap: 8px;
        overflow: hidden;
        position: relative;
        margin-top: 30px;
        .iconItem {
          position: absolute;
          top: 7px;
          left: 8px;
          font-size: 16px;
        }
        input {
          width: 120px;
          outline: none;
          border: 1px solid #dedede;
          border-radius: 4px;
          padding-left: 26px;
          box-sizing: border-box;
          font-size: 10px;
        }
        .timeCount {
          width: 130px;
          background-color: #dedede;
          border-radius: 4px;
          line-height: $captchaHeight;
          text-align: center;
          .time {
            font-size: 15px;
            color: #999999;
          }
        }
      }
      .warn {
        width: 250px;
        height: 28px;
        line-height: 28px;
        text-align: left;
        color: red;
        font-size: 12px;
        // display: none;
      }
      #registerNextButton {
        width: 250px;
        height: 40px;
        margin-top: 20px;
      }
    }
  }

  .registerSuccessAndHavingBinded {
    width: 250px;
    height: 440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .iconItem {
      font-size: 90px;
      color: #f29c9f;
    }
    .tip {
      width: 250px;
      // height: 20px;
      color: black;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
    }
    #nextButton {
      width: 250px;
      height: 40px;
      margin-top: 5px;
    }
  }
}
