@use "@/style/setting.module.scss" as *;

#playList {
  width: 420px;
  background-color: white;
  border-left: 1px solid black;
  position: absolute;
  z-index: 10;
  top: $headerHeight;
  right: 0;
  box-sizing: border-box;
  .header {
    box-sizing: border-box;
    height: $playListHeaderHeight;
    // background-color: green;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid $littleTitleColor;
    .title {
      height: 47px;
      line-height: 47px;
      font-size: 20px;
      font-weight: 600;
      padding-top: 7px;
    }
    .tool {
      height: 20px;
      line-height: 20px;
      .sum {
        float: left;
        color: $littleTitleColor;
        font-size: $littleTitleFontSize;
      }
      .collect {
        float: right;
        font-size: 13px;
        display: flex;
        gap: 3px;
        .iconItem {
          font-size: 18px;
        }
      }
      .clear {
        float: right;
        font-size: 13px;
        margin-left: 18px;
      }
    }
  }
  .content {
    height: $playListMinHeight;
    // position: relative;
    .songItem {
      display: flex;
      gap: 5px;
      padding-left: 20px;
      padding-right: 20px;
      height: 34px;
      line-height: 34px;
      font-size: $littleTitleFontSize;
      &:hover {
        background-color: $hoverBGColor;
      }
      .songName,
      .singer,
      .time {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .songName {
        width: 185px;
      }
      .singer {
        width: 95px;
      }
      .source {
        width: 25px;
      }
      .time {
        width: 40px;
      }
    }
    .nowToPlay {
      &::after {
        content: "";
        // width: 10px;
        // height: 10px;
        // background-color: red;
        width: 0;
        height: 0;
        position: relative;
        top: 13px;
        left: -377px;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 6px solid $littleTitleColor;
        // border-right: 28px solid transparent;
      }
    }
    .bgColor {
      background-color: #fafafa;
    }
  }
}
