@use "@/style/setting.module.scss" as *;

$actionWidth: var(--actionWidth);

#songPlayList {
  #title {
    width: 100% -120px;
    height: 40px;
    color: $littleTitleColor;
    font-size: $littleTitleFontSize;
    margin-left: 120px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;
    // margin-left: 64px;
    .action {
      flex: 0 0 41px;
    }
  }
  .titleWithTool {
    margin-left: 64px !important;
  }
  .singleItem {
    $singleItemHeight: 35px;
    height: $singleItemHeight;
    position: relative;
    // z-index: -1;
    &:hover {
      background-color: $hoverBGColor;
    }
    .tool {
      width: 120px;
      height: $singleItemHeight;
      line-height: $singleItemHeight;
      color: $littleTitleColor;
      box-sizing: border-box;
      padding-left: 35px;
      float: left;
      .nowToPlayIcon {
        float: left;
        color: $primaryColor;
      }
      .order {
        float: left;
        font-size: $littleTitleFontSize;
      }
      .favourite {
        margin-left: 18px;
        margin-right: 7px;
        float: left;
      }
    }
    .content {
      // float: left;
      height: $singleItemHeight;
      font-size: 13px;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      overflow: hidden;
      gap: 15px;

      .contentItem {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: $littleTitleColor;

        .singer,
        .albumName {
          &:hover {
            cursor: pointer;
            color: $titleHoverColor;
          }
        }

        .meter {
          width: 85px;
          &::-webkit-meter-bar {
            background: #e1e1e1;
            border: none;
          }
          &::-webkit-meter-optimum-value {
            background: #cacaca;
          }
        }
      }
      .songName {
        color: $navigateTextColor;
      }
    }
  }
  .bgColor {
    background-color: #fafafa;
  }
}
