@use "@/style/setting.module.scss" as *;

* {
  padding: 0;
  margin: 0;
  user-select: none;
  -webkit-user-drag: none;
}

html,
body {
  min-width: 1022px;
  // max-height: 380px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; /* 触发bfc 防止外边距合并 */
}

.clearfix::after {
  clear: both; /* 清除浮动 */
}

ul {
  list-style: none;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

// 自定义滚动条
.customeScroll {
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 0.5em;
    background-color: $contentBackGrondColor;
    border-radius: 10px;
    // display: none;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0.25em;
    background-color: $scrollColor;
  }

  scrollbar-color: $scrollColor $contentBackGrondColor; /* 滑块颜色  滚动条背景颜色 */
  scrollbar-width: thin; /* 滚动条宽度有三种：thin、auto、none */
}

// img 异步加载图片，图片没有返回时的替换图片
img[src=""],
img:not([src]) {
  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba($color: white, $alpha: 1);
    background-size: cover;
  }
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: url("../assets/image/failure.png") no-repeat center;
    background-size: cover;
  }
}
