// 变量

// 颜色
// 主要颜色
$primaryColor: var(--primaryColor);
// 字体颜色
$fontColor: var(--fontColor);
// 大背景颜色
$backGrondColor: #fff;
// svg 图标字体颜色
$svgColor: var(--svgColor);
// 图标颜色
$iconColor: var(--iconColor);
// 图标背景颜色
$iconBackColor: var(--iconBackColor);
// placeHolder颜色
$placeHolderColor: var(--placeHolderColor);
// 默认用户头像的颜色
$defaultUserColor: #f9dad9;

// 长度
// 头部
$headerHeight: 60px;
// 头部热搜框的宽度
$hotSearchDetailWidth: 350px;
// 头部热搜框的长度
$hotSearchDetailHeight: 580px;
// 底部
$footerHeigth: 73px;
// 内容区域距离标题栏的距离
$contentToHeader: 20px;
// 内容区域距离底部的距离
$contentToFooter: 20px;
// 内容页的最小高度
$contentMinHeight: var(--contentMinHeight);
// 音量进度条宽度
$progressWidth: 4px;

// 导出,在vue中引用
:export {
  headerHeight: $headerHeight;
  footerHeigth: $footerHeigth;
}
