@use "@/style/setting.module.scss" as *;

#comment {
  width: 100%;
  margin-top: 20px;
  color: $fontColor;
  #textarea {
    position: relative;
    .textarea {
      width: 100%;
      resize: none;
      padding: 10px;
      line-height: 1.5;
      border-radius: 5px;
      border: 1px solid #ccc;
      // box-shadow: 1px 1px 1px #999;
      outline: none;
      box-sizing: border-box;
      background-color: $textareaColor;
      color: $fontColor;
    }
    .commentTextCount {
      position: absolute;
      bottom: 10px;
      right: 10px;
      color: $littleTitleColor;
      font-size: 10px;
    }
    .outLimit {
      color: $primaryColor;
    }
  }
  .tool {
    height: 30px;
    // background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .iconItem {
      display: flex;
      align-items: center;
      gap: 5px;
      .at {
        font-size: 18px;
        margin-right: 2px;
      }
    }
    .sendComment {
      border: 1px solid $littleTitleColor;
      border-radius: 20px;
      padding: 2px 10px;
      &:hover {
        cursor: pointer;
        background-color: #f2f2f2;
      }
    }
  }
  .content {
    .noComment {
      display: flex;
      justify-content: center;
      font-weight: 600;
    }
    .hotComment,
    .latestComment {
      margin-top: 10px;
      .title {
        font-weight: 800;
      }
      .borderBottom {
        border-bottom: 1px solid $gapColor;
      }
    }
    .moreHotComment {
      width: 120px;
      height: 27px;
      line-height: 28px;
      text-align: center;
      padding: 0px 6px;
      // background-color: red;
      margin: 20px auto;
      border-radius: 20px;
      border: 1px solid $littleTitleColor;
      font-size: 13px;
      font-weight: 550;
    }
    .pagination {
      margin: 20px auto 0;
      display: flex;
      justify-content: center;
      color: $primaryColor;

      :deep(.number) {
          background-color: $contentBackGrondColor;
          border: 1px solid $gapColor;
      }

      :deep(.more) {
          background-color: $contentBackGrondColor;
          border: 1px solid $gapColor;
      }

      :deep(.el-pager) {
          --el-pagination-hover-color: $primaryColor;
      }

      :deep(button) {
          --el-pagination-hover-color: $primaryColor;
          background-color: $contentBackGrondColor;
          border: 1px solid $gapColor;
      }

      :deep(.is-active) {
          background-color: $primaryColor;
      }
  }
  }
}

.noContentTip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $primaryColor;
  background-color: #4b4b4b;
  height: 40px;
  border-radius: 30px;
  padding: 4px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  opacity: 0;
  transition: all 0.5s ease;
  .iconItem {
    font-size: 20px;
  }
}

.showNoContentTip {
  opacity: 1;
}
